body¨{
 font-family: var();
 background-color: rgb(0, 0, 0);   
 margin: 0;
 padding: 20px;

}
h2{
    text-align: center;
    color: rgb(6, 53, 68);
}
form{
    max-width: 300px;
    margin: 0 auto;
    background: rgb(4, 4, 50);
    padding: 20px;
    border-radius: 10px;
}
label{
    display: block;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
input, select{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px rgb(74, 2, 2);
    border-radius: 8px;
    font-size: medium;

}

