body {
    background-color: rgb(8, 8, 83);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

.container{
    display: inline;
    justify-content: center;
    background-color: aqua;
    align-items: center;
}
.box {
    background-color: rgb(11, 45, 240);
    color: rgb(231, 230, 235);
    padding: 50px;
    margin: 40px;
    border-radius: 10px;
    border-color: rgb(173, 36, 36);
    text-align: center;

}